
.h1{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #ff0000, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 100%;
}

.container {
    background-image: url('add.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      background-size: contain;
    }
  }

  